
/* html,
body {
    height: 100%;
} */

html {
    font-size: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    background-image: linear-gradient(to bottom, #252a34, #ff2e63);
}