html {
    font-size: 100%;
    overflow-x: hidden;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    background-image: linear-gradient(to bottom, #252a34, #ff2e63);
    background-attachment: fixed;
    overflow-x: hidden;
    position: relative; /* position: relative + overflow-x: hidden (obrigatoriamente no html e body) arrumou o bug do scroll horizontal */
}


