.btn-store {
    width: 45%;
    background-color: #252c41;
    color: #ffffff;
    font-size: 1.025rem;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 3% 0;
    line-height: 24px;
}

.btn-store.-second {
    width: 45%;
    margin-right: 6%;
    background-color: transparent;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    font-weight: normal;
    cursor: pointer; /* aqui ja tinha colocado o cursor pointer */
}

.btn-store:hover {
    background-color: #fff;
    color: #252c41;
}

.btn-store.-second:hover {
    background-color: #fff;
    color: #e24647;
}





@media (max-width: 1300px) {
    .btn-store.-second {
        margin-right: 0;
        margin-bottom: 4%;
    }
}

@media (max-width: 1230px) {
    .btn-store {
        width: 50%;
    }
    
    .btn-store.-second {
        width: 50%;
    }
}

@media (max-width: 1080px) {
    .btn-store {
        width: 60%;
    }
    
    .btn-store.-second {
        width: 60%;
    }
}

@media (max-width: 950px), (orientation: portrait) {
    .btn-store {
        width: 40%;
        max-width: 300px;
    }

    .btn-store.-second {
        width: 40%;
        max-width: 300px;
        margin-right: 6%;
        margin-bottom: 0;
    }
}

@media (max-width: 480px) {
    .btn-store {
        font-size: 1rem;
        width: 80%;
        max-width: 200px;
    }

    .btn-store.-second {
        margin-right: 0;
        margin-bottom: 4%;
        width: 80%;
        max-width: 200px;
    }
}

