.description-product {
    color: #ffffff;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    position: relative; 
}

.description-product > .title {
    /* margin-top: 40px; */
    margin-bottom: 50px;
    font-size: 25px;
}

.description-product .heart {
    position: absolute;
    /* transform: translateX(-100%); */
    left: -87px;
    top: 8px;
    cursor: pointer;
}

.description-product .heart:hover {
    transform: scale(1.2);
}

.description-product > .rate {
    margin-bottom: 25px;
}

.description-product > .rate > .star {
    margin-right: 5px;
    cursor: pointer;
}

.description-product .star:hover {
    transform: scale(1.2);
}

.description-product > .item {
    font-size: 20px;
    margin-bottom: 30px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.description-product .item:nth-child(4) { /* margin-left no terceiro elemento do pai */
    margin-left: 7px;   
}

.description-product > .item > strong {
    text-transform: uppercase;
}

.description-product > .text {
    font-size: 18px;
    margin-bottom: 40px;
    margin-top: 70px;
}

.description-product > .more {
    margin-bottom: 100px;
}

.description-product > .more > a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;   
}



