.header-store {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding-left: 6%;
}

.header-store > .title {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}

.header-store .wrap-search {
    padding: 6px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin-right: 70px;
}

.header-store .wrap-search > .icon {
    margin-top: 2px;
    width: 26px;
    height: 26px;
    display: none;
    cursor: pointer;
}

.header-store .search {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    font-size: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: inherit;
    width: 100%;
}

.header-store .search::placeholder {
    color: inherit;
}

.header-store > .navigation {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    display: flex;

}

.header-store .action {
    color: inherit;
    margin-right: 60px; /* alterado de acordo com os ensinamentos do mestre Marco */
    text-decoration: none;
    padding-bottom: 8px;
    position: relative; /* parte do border interativo */
}

.header-store .action:last-child {
    margin-right: 0; /* para não somar com o padding do header */
}

.header-store .action:after {
    content: '';
    height: 1px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scale(0);
    transition: transform 200ms linear;
    transform-origin: center left;
}

.header-store .action:hover:after {
    transform: scale(1);
}

.header-store .toggle {
    padding: 10px 20px;
    text-align: right;
    font-size: 25px;
    display: none;
    cursor: pointer;
}

/* BORDER INTERATIVO FEITO PESQUISANDO STACKOVERFLOW 
.header-store .action::after { 
    content: '';
    position: absolute;
    width: 0;
    display: block;
    right: 0;
    border-bottom: 1px solid #ffffff;
    transition: width .3s ease;
    -webkit-transition: width .3s ease; 
}

.header-store .action:hover::after {
    width: 100%;
    left: 0;
    border-bottom: 1px solid #ffffff;
}
FIM BORDER INTERATIVO */









@media (max-width: 1110px) {
    .header-store {
        flex-direction: column;
    }

    .header-store > .title {
        margin-bottom: 70px;
    }
}

@media (max-width: 950px), (orientation: portrait) {
    .header-store {
        padding-right: 6%;
    }
    
    .header-store > .navigation {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    
    .header-store > .title {
        margin-top: 60px;
    }

    .header-store .wrap-search {
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
        transform: translateX(calc(-100% + 40px));
        color: #000;
        /* width: 40%; */

        transition: transform 200ms linear; /* propriedade terá sua execução com -active nessas condições */

        /* linear: altera a propriedade proporcionalmente
        ** ferramenta do dev tools (raio), propriedade no css do inspetor para fazer testes
        ** curva de bezier
        */
    }

    .header-store .search {
        border-bottom: none;
    }

    .header-store .wrap-search.-active {
        transition: transform 200ms linear; /* efeito da curva de bezier somente na ida */
        transform: translateX(0);
        background-color: #fff;    
    }

    .header-store .wrap-search .icon {
        display: block;
    }

    .header-store .wrap-search .icon.-hidden {
        display: none;
    }
}

@media (max-width: 530px) {
    .header-store > .title {
        margin-bottom: 60px;
    }

    .header-store .navbar {
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
    
    .header-store .action {
        display: flex;
        justify-content: space-between;
        margin-right: 15px;
    }
}

@media (max-width: 470px) {
    .header-store .navbar {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .header-store .navbar {
        position: absolute;
        top: 42px;
        display: block;
        transform: translateX(0);
        transition: transform 200ms linear; 
    }

    .header-store .navbar.-hidden {
        transform: translateX(100%);
    }

    .header-store .action {
        margin-right: 0;
        margin-bottom: 0;
        padding: 10px 0;
        width: 100%;
        background-color: #252c41;
        opacity: 0.9;
        border-bottom: 1px solid #000;
        color: #fff;
        display: flex;
        justify-content: center;
    }

    .header-store .action:hover {
        opacity: 1;
    }

    .header-store .action:first-child {
        border-top: 1px solid #000;
    }

    .header-store .action::after {
        height: 0;
    }

    .header-store .toggle {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
    }

    .header-store .wrap-search {
        margin-right: 0;
        width: 83vw;
    }

    .header-store .search {
        width: 90%;
    }

}

@media (max-width: 350px) {
    .header-store .wrap-search {
        width: 78vw;
    }
}