.wrapper-foneimage {
    margin-top: 150px;
    width: 50%;
    height: 540px;
    float: left;
    background-color: #fff;
    background-image: url(../img/foneImage.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    position: relative;
    left: -60px;
}