header {
    background-color: #e24647;
    display: flex;
    justify-content: space-between;
    padding: 55px 60px 95px;
    align-items: center;
    margin: 0 115px;
}

h1 {
    color: #ffffff;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    padding: 0 30px;
}

a:last-child {
    padding-right: 0; /* para não somar com o padding do header */
}